<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @* <title>Kaiadmin - Bootstrap 5 Admin Dashboard</title> *@
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
    <link rel="icon"
          href="~/manager/assets/img/WO crop.png"
          type="~/manager/image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- Fonts and icons -->
    <script src="~/manager/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
          google: { families: ["Public Sans:300,400,500,600,700"] },
          custom: {
            families: [
              "Font Awesome 5 Solid",
              "Font Awesome 5 Regular",
              "Font Awesome 5 Brands",
              "simple-line-icons",
            ],
            urls: ["assets/css/fonts.min.css"],
          },
          active: function () {
            sessionStorage.fonts = true;
          },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/manager/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/manager/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/manager/assets/css/kaiadmin.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    @* <link rel="stylesheet" href="assets/css/demo.css" /> *@
</head>
<body>
    <div class="wrapper">

        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">

            <div class="sidebar-logo">

                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">

                    <a href="/Manager/Dashboard" class="logo">
                        <img src="~/manager/assets/img/WO2.png"
                             alt="navbar brand"
                             class="navbar-brand"
                             height="50" />
                    </a>

                    <div class="nav-toggle">

                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>

                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>

                    </div>

                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>

                </div>
                <!-- End Logo Header -->

            </div>

            <!-- Sidebar Menu -->
            <div class="sidebar-wrapper scrollbar scrollbar-inner">

                <div class="sidebar-content">

                    <ul class="nav nav-secondary">

                        <!-- Dashboard -->
                        <li class="nav-item active">
                            <a href="/Manager/Dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>

                        <!-- Candidates -->
                        <li class="nav-item">

                            <a data-bs-toggle="collapse" href="#managerCandidates">
                                <i class="fas fa-users"></i>
                                <p>Candidates</p>
                                <span class="caret"></span>
                            </a>

                            <div class="collapse" id="managerCandidates">

                                <ul class="nav nav-collapse">

                                    <li>
                                        <a href="/Candidate/Index">
                                            <span class="sub-item">All Candidates</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/Candidate/Create">
                                            <span class="sub-item">Add Candidate</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                        </li>

                        <!-- Questions -->
                        <li class="nav-item">

                            <a data-bs-toggle="collapse" href="#managerQuestions">
                                <i class="fas fa-question-circle"></i>
                                <p>Questions</p>
                                <span class="caret"></span>
                            </a>

                            <div class="collapse" id="managerQuestions">

                                <ul class="nav nav-collapse">

                                    <li>
                                        <a href="/Question/Index">
                                            <span class="sub-item">All Questions</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/Question/Create">
                                            <span class="sub-item">Add Question</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                        </li>

                        <!-- Options -->
                        <li class="nav-item">

                            <a href="/Option/Index">
                                <i class="fas fa-list"></i>
                                <p>Options</p>
                            </a>

                        </li>

                        <!-- Tests -->
                        <li class="nav-item">

                            <a data-bs-toggle="collapse" href="#managerTests">
                                <i class="fas fa-file-alt"></i>
                                <p>Tests</p>
                                <span class="caret"></span>
                            </a>

                            <div class="collapse" id="managerTests">

                                <ul class="nav nav-collapse">

                                    <li>
                                        <a href="/CandidateTest/Index">
                                            <span class="sub-item">All Tests</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/CandidateTest/Create">
                                            <span class="sub-item">Assign Test</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                        </li>

                        <!-- Results -->
                        <li class="nav-item">

                            <a href="/Result/Index">
                                <i class="fas fa-check-circle"></i>
                                <p>Results</p>
                            </a>

                        </li>

                        <!-- Transfer Candidates -->
                        <li class="nav-item">

                            <a href="/Candidate/Transfer">
                                <i class="fas fa-exchange-alt"></i>
                                <p>Transfer Candidates</p>
                            </a>

                        </li>

                        <!-- Reports -->
                        <li class="nav-item">

                            <a data-bs-toggle="collapse" href="#managerReports">
                                <i class="fas fa-chart-bar"></i>
                                <p>Reports</p>
                                <span class="caret"></span>
                            </a>

                            <div class="collapse" id="managerReports">

                                <ul class="nav nav-collapse">

                                    <li>
                                        <a href="/Report/Daily">
                                            <span class="sub-item">Daily Report</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/Report/Monthly">
                                            <span class="sub-item">Monthly Report</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                        </li>

                        <!-- Account -->
                        <li class="nav-item">

                            <a data-bs-toggle="collapse" href="#managerAccount">
                                <i class="fas fa-user"></i>
                                <p>Account</p>
                                <span class="caret"></span>
                            </a>

                            <div class="collapse" id="managerAccount">

                                <ul class="nav nav-collapse">

                                    <li>
                                        <partial name="_loginPartial" />
                                    </li>

                                </ul>

                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>
        <!-- End Sidebar -->
        <!-- Main Panel -->
        <div class="main-panel d-flex flex-column min-vh-100">

            <div class="main-header">

                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">

                    <div class="container-fluid">

                        <!-- Search -->
                        <form class="d-none d-lg-flex ms-auto">

                            <div class="input-group">

                                <input type="text"
                                       class="form-control"
                                       placeholder="Search..." />

                                <button class="btn btn-search" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>

                            </div>

                        </form>

                        <!-- Right Navbar -->
                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">

                            <!-- Notifications -->
                            <li class="nav-item dropdown hidden-caret">

                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   data-bs-toggle="dropdown">

                                    <i class="fa fa-bell"></i>
                                    <span class="notification">4</span>

                                </a>

                            </li>

                            <!-- Profile -->
                            <li class="nav-item topbar-user dropdown hidden-caret">

                                <a class="dropdown-toggle profile-pic"
                                   data-bs-toggle="dropdown"
                                   href="#">

                                    <div class="avatar-sm">

                                        <img src="~/manager/assets/img/profile.jpg"
                                             alt="profile"
                                             class="avatar-img rounded-circle" />

                                    </div>

                                    <span class="profile-username">

                                        <span class="op-7">Hi,</span>

                                        <span class="fw-bold">
                                            Manager
                                        </span>

                                    </span>

                                </a>

                            </li>

                        </ul>

                    </div>

                </nav>
                <!-- End Navbar -->

            </div>
            <div class="container-fluid py-4">
        @RenderBody()
        </div>
            <footer class="footer mt-auto ">
            <div class="container-fluid d-flex justify-content-between">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Help </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Licenses </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    2024, made with <i class="fa fa-heart heart text-danger"></i> by
                    <a href="http://www.themekita.com">ThemeKita</a>
                </div>
                <div>
                    Distributed by
                    <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
                </div>
            </div>
        </footer>
    </div>

    <!-- Custom template | don't include it in your project! -->
    @* <div class="custom-template">
        <div class="title">Settings</div>
        <div class="custom-content">
            <div class="switcher">
                <div class="switch-block">
                    <h4>Logo Header</h4>
                    <div class="btnSwitch">
                        <button type="button"
                                class="selected changeLogoHeaderColor"
                                data-color="dark"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="blue"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="purple"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="light-blue"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="green"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="orange"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="red"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="white"></button>
                        <br />
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="dark2"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="blue2"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="purple2"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="light-blue2"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="green2"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="orange2"></button>
                        <button type="button"
                                class="changeLogoHeaderColor"
                                data-color="red2"></button>
                    </div>
                </div>
                <div class="switch-block">
                    <h4>Navbar Header</h4>
                    <div class="btnSwitch">
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="dark"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="blue"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="purple"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="light-blue"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="green"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="orange"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="red"></button>
                        <button type="button"
                                class="selected changeTopBarColor"
                                data-color="white"></button>
                        <br />
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="dark2"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="blue2"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="purple2"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="light-blue2"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="green2"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="orange2"></button>
                        <button type="button"
                                class="changeTopBarColor"
                                data-color="red2"></button>
                    </div>
                </div>
                <div class="switch-block">
                    <h4>Sidebar</h4>
                    <div class="btnSwitch">
                        <button type="button"
                                class="changeSideBarColor"
                                data-color="white"></button>
                        <button type="button"
                                class="selected changeSideBarColor"
                                data-color="dark"></button>
                        <button type="button"
                                class="changeSideBarColor"
                                data-color="dark2"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-toggle">
            <i class="icon-settings"></i>
        </div>
    </div> *@
    <!-- End Custom template -->
    </div>
    <!--   Core JS Files   -->
    <script src="~/manager/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/manager/assets/js/core/popper.min.js"></script>
    <script src="~/manager/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/manager/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/manager/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/manager/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/manager/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/manager/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/manager/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/manager/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/manager/assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/manager/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/manager/assets/js/kaiadmin.min.js"></script>

    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    @* <script src="~/manager/assets/js/setting-demo.js"></script>
    <script src="~/manager/assets/js/demo.js"></script> *@
    <script>
        $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
          type: "line",
          height: "70",
          width: "100%",
          lineWidth: "2",
          lineColor: "#177dff",
          fillColor: "rgba(23, 125, 255, 0.14)",
        });

        $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
          type: "line",
          height: "70",
          width: "100%",
          lineWidth: "2",
          lineColor: "#f3545d",
          fillColor: "rgba(243, 84, 93, .14)",
        });

        $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
          type: "line",
          height: "70",
          width: "100%",
          lineWidth: "2",
          lineColor: "#ffa534",
          fillColor: "rgba(255, 165, 52, .14)",
        });
    </script>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>

